<html>
  <head>
    <title>Flagging</title>
    <link rel="stylesheet" href="register.css">  
    <link rel="stylesheet" href="style.css"> 
    <meta name = "author" content="Can John Mcdonald">
    <nav>
    <div class = "menu">
      <a href= "" id = "menuButton">Menu</a>
      <div class = "ddcontent">
        <a href = "/index">Home</a>
        <a href = "/profile">Profile</a> 
        <a href = "/admin_register">Register an admin</a>
        <a href = "/view-resets">Resets</a>
        <a href = "/admin_withdrawals">Withdrawals</a>
        <a href = "/admin_flagging">Flag a user</a>
      </div>
    </div>
      <a href = "/login" id = "loginButton"><%= @loginSignOut%></a>
    </nav>
    <header>
      <h1>UniConnect</h1>
    </header>
    <style>
    #reasonBox {
      height: 40px;
    }
    </style>
  </head>
  <body>
      <form method="post" action="/flagging_post">
      <p style="font-size:30px"> Flag a user </p>
      <br>
      <% if (@submission_error && @form_was_submitted) %>
      <p><br><strong class="error">Please correct the errors below</strong></p>
      <% end %>
      <% if (!@submission_error && !@form_was_submitted) %>
        <br>
      <% end %>
    
      <p>
        Enter the username of the user to be flagged: <input type="text" name="username" value="<%= h @username %>" />
        <% if (!@username_error.nil?) %>
          <br /><strong class="error"><%= @username_error %></strong>
        <% end %>
        <% if (!@invalid_username_error.nil?) %>
          <br /><strong class="error"><%= @invalid_username_error %></strong>
        <% end %>
      </p>
      <p>
        Enter the reason for the flag: <input type="text" id="reasonBox" name="reason" value="<%= h @reason %>" maxlength="500"/>
        <% if (!@reason_error.nil?) %>
          <br /><strong class="error"><%= @reason_error %></strong>
        <% end %>
      </p>
      <p>
      <% if (!@notify.nil?) %>
          <br /><strong><%= @notify %></strong>
        <% end %>
      </p>
      <% if (@form_was_submitted && @submission_error.nil? && $confirmation == 1) %>
         <p> 
          <input type="checkbox" id="confirmation" name="confirmation" value= "confirmation" required/>
          <label for="terms&conditions"> Are you sure you want to flag the user with the username <%= @username %>? </label><br>
        </p>
      <% end %>
      <a href="profile"> Return to profile </a>
      <p><input type="submit" id="submit" value="Submit"></p> 
      </form>
  </body>
</html>