<html lang="en">
<head>
    <title>veiw waitinglist page</title>
    
    <link rel="stylesheet" href="login.css">

    <meta name="author" content="Ben Whittaker">
    <%= erb :"common/header" %>
</head>


<body>
  <section>
    <div clas 6s="centerOfScreen">
     <h2>Waiting List</h2>
     <br>
      <% if @applicants.count > 0 %>
       
        <table>
          <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Date of Birth</th>
          <th>Bio</th>
        </tr>
    <% @applicants.each do |mentee| %>
      <tr>
        <td><%= h mentee[0] %></td>
        <td><%= h mentee[1] %></td>
        <td><%= h mentee[2] %></td>
        <td><%= h mentee[3] %></td>
        <td>
          <form action="accept-waitinglist" method="post">
            <button name="accepted" value=<%= h mentee[4]%> class="regButton">Accept</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
      <% else %>
        <p>There are no current mentees on the waiting list</p>
      <% end %>
    </div>
  </section>
</body>